@import url("https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300&family=Montserrat&display=swap");
.myWorks_item__overlay_demo, .myWorks_item__overlay_code {
  display: block;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 2px solid transparent;
  padding: 10px 45px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease;
  color: #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #171717;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  height: 3000px;
  scroll-behavior: smooth;
}

#mainWrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(13, 13, 13, 0.14), rgba(0, 0, 0, 0.23)), url(images/bg-header.png) center/cover no-repeat;
  text-align: center;
  overflow-x: hidden;
  padding-bottom: 40px;
  position: relative;
}

.topBar {
  width: 100%;
  height: 50px;
  background: rgba(23, 23, 23, 0.68);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all .3s ease;
}

.topBar_name {
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  text-align: left;
}

.topBar_menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBar_menu1, .topBar_menu2, .topBar_menu3 {
  width: 100%;
  height: 4px;
  margin: 2px 0;
  background: #ccc;
  border-radius: 2px;
  transition: all .5s ease;
}

.topBar_navigate {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #171717;
  border-top: 1px solid #345f6d;
  transform: translateX(101%);
  transition: transform 0.5s cubic-bezier(1, 0.32, 0.66, 0.41);
  z-index: 1;
}

.topBar_navigate ul {
  list-style-type: none;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0 20px;
  visibility: hidden;
}

.topBar_navigate ul li {
  padding: 10px;
  text-align: left;
}

.topBar_navigate ul li a {
  text-decoration: none;
  color: #ccc;
  text-shadow: 0px 2px 9px transparent;
}

.topBar_navigate ul li:after {
  content: '';
  width: 0%;
  height: 1px;
  border-bottom: 3px solid #345f6d;
  display: inherit;
  padding-top: 2px;
  transition: width .2s ease;
}

.topBar_navigate ul li:hover:after {
  width: 100%;
}

.active-item {
  transition: all .3s ease;
  color: #41a7ab !important;
  text-shadow: 0px 2px 9px #41a7ab !important;
}

.menuActive {
  transform: translateX(0);
}

.welcomeMessage {
  width: 90%;
  margin: 150px auto 0 auto;
  font-family: "Comfortaa", cursive;
}

.welcomeMessage h1 {
  font-size: 3rem;
}

.welcomeMessage p {
  font-size: 1.2rem;
  padding-top: 10px;
}

.codingWrapper {
  width: 75%;
  background: linear-gradient(181deg, rgba(42, 50, 85, 0.7) 0%, rgba(23, 28, 54, 0.75) 48%);
  border-radius: 10px;
  padding: 35px 15px;
  opacity: 0.95;
  margin: 120px auto 20px auto;
  font-size: 1.2rem;
  text-align: left;
  font-family: 'Abel', sans-serif;
  color: #f0f0f0;
  position: relative;
}

.codingWrapper p {
  padding: 2px 0 2px 30px;
}

.syntax {
  color: #8fcd9e;
  font-weight: 700;
}

.aboutMe {
  background: #171717;
  width: 100%;
  margin-top: -4px;
  padding: 50px 20px;
  text-align: center;
  position: relative;
}

.aboutMe_wrapper {
  width: 100%;
  margin: 20px auto 80px auto;
  background: #171717;
}

.aboutMe_img {
  width: 100%;
}

.aboutMe_img img {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 5px rgba(113, 111, 111, 0.33);
  filter: brightness(0.8);
  animation-name: myPhoto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: filter .2s ease;
}

.aboutMe_img img:hover {
  filter: brightness(1);
}

.aboutMe_description {
  color: #ccc;
  font-family: "Comfortaa", cursive;
  text-align: justify;
  padding: 30px 0;
  font-size: 0.9rem;
}

.sectionTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 100%;
}

.sectionTitle::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 28px;
  background: #345f6d;
  margin-right: 10px;
  border-radius: 10px;
}

.mySkills {
  overflow: hidden;
  position: relative;
}

.mySkills_itemsContainer {
  width: 100%;
  white-space: nowrap;
  transition: transform .5s ease;
}

.mySkills_item {
  width: 100%;
  background: #1a1a1a;
  padding: 30px;
  margin: 20px auto;
  border: 2px solid #41a7ab;
  white-space: normal;
  transition: all .5s;
}

.mySkills_item i {
  font-size: 3.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#85be96), to(#174757));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.mySkills_item p {
  font-family: "Comfortaa", cursive;
  margin-top: 30px;
  color: #ccc;
  font-size: 0.9rem;
}

.mySkills .mid {
  transform: scale(1) !important;
  opacity: 1;
}

.mySkills #slide-next {
  position: absolute;
  right: 0;
  top: 52%;
  width: 70px;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.mySkills #slide-next img {
  max-width: 100%;
}

.mySkills #slide-prev {
  position: absolute;
  left: 0;
  top: 52%;
  width: 70px;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.mySkills #slide-prev img {
  max-width: 100%;
}

.menu_sticky {
  background: #000 !important;
  height: 50px !important;
}

@keyframes myPhoto {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.myWorks {
  width: 100%;
  background: #121212;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.myWorks_item {
  width: 85%;
  height: 280px;
  margin: 35px auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 14px 3px #222222;
  border-radius: 10px;
}

.myWorks_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
  border-radius: 10px;
}

.myWorks_item__title {
  position: absolute;
  top: 15px;
  left: 25px;
  padding: 5px 15px;
  background: #000;
  z-index: 1;
}

.myWorks_item__overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.myWorks_item__overlay a {
  color: #fff;
  text-decoration: none;
}

.myWorks_item__overlay_demo {
  bottom: 0;
  background: #3497da;
}

.myWorks_item__overlay_demo:hover {
  background: transparent;
  border-radius: 25px;
  border: 2px solid #3497da;
}

.myWorks_item__overlay_code {
  top: 0;
  background: #777;
}

.myWorks_item__overlay_code:hover {
  background: transparent;
  border-radius: 25px;
  border: 2px solid #777;
}

.skillSet {
  width: 100%;
  padding: 80px 10%;
}

.chartWrapper {
  width: 100%;
  height: 400px;
  color: #ccc;
  margin-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.chartWrapper_labels {
  width: 17%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-right: 1px solid #272727;
  font-size: 0.82rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.chartWrapper_labels li:last-child {
  margin-bottom: 50px;
}

.chartWrapper_bars {
  width: 80%;
  height: 100%;
  border-bottom: 1px solid #272727;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.chartWrapper_bars__item {
  width: 21%;
  height: 0%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  transition: opacity .2s ease;
}

.chartWrapper_bars__item:hover {
  opacity: 0.8;
}

.chartWrapper_bars__item:nth-child(1) {
  background: linear-gradient(0deg, #995353, #e18787);
  border: 1px solid #995353;
}

.chartWrapper_bars__item:nth-child(2) {
  background: linear-gradient(0deg, #2e7277, #73a5a8);
  border: 1px solid #2e7277;
}

.chartWrapper_bars__item:nth-child(3) {
  background: linear-gradient(0deg, #646e0e, #858d56);
  border: 1px solid #646e0e;
}

.chartWrapper_bars__item:nth-child(4) {
  background: linear-gradient(0deg, #254f70, #6590cd);
  border: 1px solid #254f70;
}

.chartWrapper_bars_name {
  font-size: 1.6em;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chartWrapper_bars_percent {
  font-size: 1.2em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #afafaf;
}
